<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cart | Reptiles "r" Us</title>
</head>

<body>
    cart page here
    <a href= "/checkout"><button>Checkout</button></a>
</body>

</html>