<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cart | Reptiles "r" Us</title>
</head>

<body>
    cart page here
    <% cart.forEach(i => { %>
        <div>
            <p><%=i.ProdName%></p>
            <ul>
                <li><%=i.quantity%></li>
                <li><%=i.ProdPrice%></li>
            </ul>
        </div>
    <% }) %>

</body>

</html>