<!DOCTYPE html>
<html>
<head>

<title>Checkout | Reptiles "r" Us</title>
<meta charset="utf-8">

</head>
<body>
<form action="/" method="get">
    <button type="submit">Home</button>
</form>

<form action="/cart" method="get">
    <button type="submit">View Cart</button>
</form>

<br><br><br>

<div class="productInfo">
    <span>Product name</span>
    <button>-</button>
    <span>Quantity</span>
    <button>+</button>
    <span>Unit price</span>
    <button>Remove</button>
</div>

<div class="productInfo">
    <span>Product name  </span>
    <button> - </button>
    <span>Quantity</span>
    <button> + </button>
    <span>    Unit price    </span>
    <button>Remove</button>
</div>

<div class="productInfo">
    <span>Product name</span>
    <button>-</button>
    <span>Quantity</span>
    <button>+</button>
    <span>Unit price</span>
    <button>Remove</button>
</div>

<h2>
    Shipping Address
</h2>

<p>Your shipping address will be used as</p>
<p>your billing address</p>
<form>
    First name <input type="text" id="fname" name="fname">
    <br><br>
    Last name <input type="text" id="lname" name="lname">
    <br><br>
    Address line 1 <input type="text" id="address1" name="address1">
    <br><br>
    Address line 2 <input type="text" id="address2" name="address2">
    <br><br>
    City <input type="text" id="city" name="city">

    State <input type="text" id="state" name="state">
    <br><br>
    Zip code <input type="text" id="state" name="state">
    <br><br>

    Subtotal $199.99
    <br><br>
    Tax $9.99
    <br><br>
    Grand Total $209.98
    <br><br>
    <button>Pay now</button>
</form>

</body>
</html>