<%- include('navBarHead') %>
<title>Reptiles "r" Us | Home</title>
    <!-- Main content -->
    <form action="/login" method="GET">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
    </form>
    <p>Connecting you to your reptile</p>
    <form action="/products" method="GET">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Start Looking</button>
    </form>
    <br>
    <form action="/logout" method="GET">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Logout</button>
    </form>

</body>
</html>